<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>
<body>
<h1>
See all the Pokemon!
</h1>
	<ul>
		<li><%= pocket[0].name %></li>
		<li><%= pocket[1].name %></li>
		<li><%= pocket[2].name %></li>
		<li><%= pocket[3].name %></li>
		<li><%= pocket[4].name %></li>
		<li><%= pocket[5].name %></li>
	</ul>
<style type="text/css">
body {
  color:red;
  background-color:green;
  font-family: 'Orbitron', sans-serif;
}
</style>
</body>
</html>